<h1>About Me</h1>

<hr>
<div class="row">
	<div class="col-md-4">
    		
    		<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSUReOHQHVJQ0y-5dHevmNpssXOwtNvzEvX5G7EWOtmG8R2oswq&usqp=CAU", width: 300, alt: "profile_image"  %>

    </div>

    <div class="col-md-8">
		<p>Madison believes mindfulness in the workplace is key to success - a tenet she lives out through her interests in yoga, meditation, gardening, and painting. Madison is currently working as a freelance marketing director and is always interested in a challenge. Reach out to madisonblackstone@gmail.com to connect!</p>

		<p>Her hunger for knowledge and determination to turn information into action has contributed to her most recent success at Rockwell Group, where she led international, award-winning campaigns for heavy-hitting brands, such as Puma, Gucci, and Rolex</p>
 		
    </div>
</div>


