<h1>Pages#contact</h1>
<p> Phone Number: <%= number_to_phone "5550325000" %> </p>
<p> Price: <%= number_to_currency "150" %> </p>
<p> Percentage : <%= number_to_percentage "80,40" %> </p>
<p> Percentage : <%= number_with_delimiter "351855062" %> </p>

